.card {
  border: 1px solid rgba(2, 225, 255, 0.596);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 8px;
  text-align: center;
  max-width: 200px;
  background-color: rgba(19, 183, 224, 0.103); 
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.card img {
  max-width: 110px;
};